body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif; 
  font-size: 14px;
  color: #222222;
  background-color: #f2f4f6;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.header__inner, .header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}
.header__left {
  position: relative;
}
.header__item {
  min-width: 190px;
  height: 56px;
}
.header__menu {
  padding: 10px 0;
}
.header__logo {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}
.header__other-sites {
  position: absolute;
  right: 10px;
  bottom: 7px;
}
.dropdown {
  position: relative;
}
.accordion {
  width: 22px;
  margin: 5px 0px 0px 10px;
}
.accordion h3 {
  cursor: pointer;
  position: relative;
  top: 6px;
}
.accordion a {
  position: relative;
  bottom: 9px;
  background: #ffffff;
  padding: 0px 75px 68px;
  color: #000;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 20%);
}
.page-header {
  line-height: 1.4;
  height: 56px;
  align-items: center;
}

.page-footer2 {
  padding: 0px 0;
  background-color: #e48f13;
  color: #ffffff;
}
div {
  display: block;
}


.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}
.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}


.level {
  margin: 7px 25px 16px;
  padding: 0px;
  height: 14px;
  font-size: 0px;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #00417d;
  color: #ffffff;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}
