
.carousel-item {
height: 37em;
}
.carousel-item img{
    height: 37em;
    }
.navbar-nav > li{
        padding-left: 3em;
        padding-right: 3em;
      }
.navbar-collapse {
    justify-content: center;
}
.carousel-caption {
margin-bottom: 17em;   
}